<body>
  <header>
      <h1 id="website_name">CAROCA</h1>
      <nav>
          <ul id="nav-list">
              <li><a routerLink="/achat">Acheter</a></li>
              <li><a routerLink="/vente">Vendre</a></li>
              <li><a routerLink="/contact">Contact</a></li>
          </ul>
          <ul id="nav-icon">
              <li><i class="fa-solid fa-minus"></i></li>
              <li><a href="#user"><i class="fa-solid fa-user"></i></a></li>
              <li><a href="#search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
              <li><a href="#heart"><i class="fa-regular fa-heart"></i></a></li>
          </ul>
      </nav>
  </header>

  <router-outlet></router-outlet>
  


 
  <footer>
      <p>Contactez-nous : info(arobase)mesi.com</p>
  </footer>
</body>