<section id="slogan">
    <img src="assets/images/red_audi.png" id="audiImage" alt="Audi Rouge" width="500">
    <div id="audi">
        <h1>AUDI</h1>
    </div>
    <h2 id="title_find">Trouve ta voiture d'occasion</h2>
    <h2 id="title_find_2">BONNE VOITURE, BON PRIX</h2>
</section>

<section id="recherche">
    <section id="achat_vente">
        <section id="achat_vente_button">
            <ul>
                <li>Acheter</li>
                <li>Vendre</li>
            </ul>
        </section>
        <section id="recherche_button">
            <p>RECHERCHER</p>
        </section>
    </section>
</section>

<section id="services">
    <h2>Nos services</h2>
    <p>Détails des services offerts.</p>
</section>
